.nav-pills .nav-item .active{
    background-color:white !important;
    border: 2px solid #BB2D3B !important;
    color:#BB2D3B !important;
}
.nav-pills .nav-item button{
    color: black !important;
}
#footer p a{
    text-decoration: none;
    color: #383838 !important;

}
#footer{
    background-color: #F0F0F0 !important;
    color: #383838 !important;
    line-height: 1.5vh;
}
nav{
    background-color: #F0F0F0 !important;
   
}
/* .card:hover #card-icon i{
    color: black !important;
} */
.btns:hover{
    background-color: #BB2D3B !important;
    color: white !important;
    border: none !important;
}
input ,textarea{
    background-color: #dadada !important;
}
.icon:hover{
    color: #FF383F !important;
    scale: 1.04 !important;
transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }

.new{
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
 
.new::-webkit-scrollbar{
display: none;
}

.add-to-cart:hover{
    border: 1px solid #444444 !important;
    color: #444444 !important;
    background-color: transparent !important;
    scale: 1.02 !important;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        }

        #btn {
            display: none;
            cursor: pointer;
            position: fixed;
            bottom: 100px;
            right: 30px;
            z-index: 99;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color:#FF383F;
            color: white;
            border: none;
          }
  
          #footer p a:hover{
    color: #FF383F !important;
    font-weight: 700;
}    